<footer class="footer">
    <div class="footer-inner">
        <p>© {{ "now"|date("Y") }} {{ store.name }}</p>

        <div class="socials">
            <a href="#">Instagram</a>
            <a href="#">Twitter</a>
        </div>
    </div>
</footer>
