<header id="header" class="header">
    <div class="header-inner">
        <div class="logo">{{ store.name }}</div>

        <nav class="nav">
            <a href="/">الرئيسية</a>
            <a href="/collections">المتجر</a>
            <a href="/cart">السلة</a>
        </nav>
    </div>
</header>
